@import "../../../styles.scss";

.book {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  iframe {
    width: 80vw;
    height: 90vh;
  }
}

@media (max-width: 900px) {
  .book {
    margin: 0;
    padding: 20px 30px;
  }
}
