@import "../../../styles.scss";

.home {
  margin: 40px 310px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  p {
    font-size: 1.7rem;
    line-height: 2.2rem;
    text-align: justify;
    text-transform: uppercase;
  }
}
