<main class="home">
  <p>
    THE LOST HOLLOW TAROT IS A FULLY-ILLUSTRATED 80 CARD DECK FEATURING AN
    AMALGAMATION OF ARCHETYPES PULLED FROM THE RIDER-WAITE-SMITH,
    CROWLEY-HARRIS, AND GOLDEN DAWN TAROT TRADITIONS. EACH CARD WAS CAREFULLY
    RESEARCHED, DESIGNED, AND ILLUSTRATED TO ALLOW FOR BOTH DEPTH OF SYMBOLISM
    AS WELL AS QUICK PRECISION IN YOUR READINGS, ALL WHILE STILL DEPICTING THE
    GRIM ELEGANCE OF ITS SUPERNATURAL MOTIF.
  </p>

  <p>
    EACH CARD IS DRAWN IN A RED, BLACK AND WHITE COLOR SCHEME THAT KEEPS THE
    WHOLE DECK UNIFIED IN ONE CONSISTENT LOOK AND FEEL. THE CHARACTERS IN THE
    DECK ARE A DIVERSE CAST THAT BRING TO LIFE THE VARIED BEAUTY OF THE SETTING
    AND ITS INHABITANTS. EVERY CARD MEANING HAS A CONSIDERED MEDIATION BETWEEN
    ITS DIFFERENT SOURCES AND AS SUCH YOU WILL SEE A MELDING OF TRADITIONS.
  </p>

  <p>
    PIPS ARE FULLY ILLUSTRATED WITH DEPICTIONS OF PEOPLE AND BACKGROUNDS LIKE A
    RWS DECK, BUT ALSO CONTAIN SYMBOLISM AND DESIGNS INSPIRED BY THE THOTH DECK,
    AND TITLES INSPIRED FROM BOTH THE GOLDEN DAWN AND THOTH. MEANINGS OF CARDS
    FOLLOW THE THREE SOURCES, SO WHERE ONE DIFFERS FROM THE OTHER TWO, THE MORE
    COMMON MEANING IS APPLIED. CARDS ASK YOU TO READ ENERGY AND THEMES AND
    AREN'T TIED TO FOLLOWING SPECIFIC GENDER EXPRESSIONS. THE CHARACTERS WITHIN
    ARE VARIED IN THEIR BODIES, RACES, AGES, SEXUAL ORIENTATIONS, AND GENDERS
    (YES, EVEN AND ESPECIALLY THE COURT CARDS, WHICH DESPITE THEIR NAMING,
    FOLLOW NO SPECIFIC GENDER EXPRESSION).
  </p>

  <p>
    HERE YOU WILL FIND ALL CARDS FULLY ILLUSTRATED WITH A RICH AND DIVERSE CAST
    OF CHARACTERS. I'VE TRIED MY BEST TO DEPICT THEM WITH BEAUTY AND GRACE, BUT
    ALSO WITH JUST A HINT OF HORROR AND THE MACABRE. DESPITE THE DARK SETTING,
    THE CONTENTS OF THE DECK READ WITH THE VARIETY OF LIGHT AND DARK THEMES AND
    ARCHETYPES YOU'D EXPECT FROM A TAROT DECK. BONUS CARDS OF JUSTICE AND
    STRENGTH, EACH WITH THEIR OWN UNIQUE ARTWORK, LET YOU CHOOSE WHETHER YOU'D
    LIKE THEM NUMBERED ACCORDING TO THE RIDER-WAITE-SMITH STANDARD OR THE
    CROWLEY-HARRIS/GD ONE. THIS BRINGS THE TOTAL CARD COUNT UP TO 80.
  </p>

  <p>
    TAROT DECKS APPEAL TO DIFFERENT PEOPLE FOR DIFFERENT PURPOSES. SOME JUST
    LIKE HAVING AN ARTISTIC COLLECTIBLE. OTHERS USE THEM FOR CARD GAMES LIKE
    TARROCHINI. SOME USE THEM FOR OCCULT PURPOSES AND DIVINATION. OTHERS USE
    THEM FOR SELF-REFLECTION AND SELF-IMPROVEMENT WORK. WHATEVER YOUR USAGE IS,
    MY HOPE IS THAT THIS DECK WILL SERVE YOU WELL.
  </p>
</main>
