<main class="home">
  <p>
    O tarô Lost Hollow é um conjunto de 80 cartas ilustradas, criadas a partir
    do cruzamento dos arquétipos dos tarôs tradicionais de Rider-Waite-Smith,
    Crowley-Harris e Golden Dawn. Cada carta foi cuidadosamente projetada e
    ilustrada a fim de prover tanto um simbolismo profundo quanto precisão
    rápida nas suas leituras, enquanto mantém a elegância sombria da sua
    temática sobrenatural.
  </p>

  <p>
    As cartas foram desenhadas em uma paleta de vermelho, preto e branco,
    mantendo o baralho consistente na sua temática. Os personagens das cartas
    são diversificados e trazem à vida belezas variadas e inusitadas. O
    significado de cada carta tem uma mescla entre as inspirações citadas para
    este baralho, de forma que você perceberá a fusão de elementos nos seus
    designs.
  </p>

  <p>
    Os arcanos menores foram ilustrados com representações de pessoas e cenários
    inspirados no baralho de Rider-Waite-Smith, mas também contém simbolismos do
    tarô de Thoth, e seus títulos inspirados no tarô de Golden Dawn. Os
    significados das cartas respeitam as três fontes citadas, então onde em
    algum baralho o significado destoa, o significado dos outros dois é aqui
    tomado para a carta. Estas cartas lhe exigirão a leitura de energias e
    assuntos que não estão ligados a expressões de gênero. Os personagens das
    cartas têm corpos, raças, idades, orientações sexuais e gêneros variados
    (sim, mesmo as cartas de corte - rei, rainha, príncipe - que, apesar dos
    seus nomes, não seguem expressões de gênero restritivas).
  </p>

  <p>
    Aqui você encontrará todas as cartas totalmente ilustradas com um conjunto
    rico e diverso de personagens. Eu tentei dar o meu melhor para
    representá-los com beleza e graciosidade, mas também com um pouco do horror
    e do macabro. Apesar do toque sombrio, os conteúdos da leitura do baralho
    tem uma variedade de luz e trevas e arquétipos que se esperaria de um
    conjunto de tarô. Existem duas cartas bônus, para A Justiça e A Força, cada
    uma com um desenho único, que permite que você escolha entre a numeração do
    Rider-Waite-Smith ou de Crowley-Harris/Golden Dawn. Dessa forma, tem-se o
    total de 80 cartas.
  </p>

  <p>
    Baralhos de tarô são atrativos às pessoas por diferentes motivos. Alguns
    gostam de colecionar por motivos artísticos. Outros os usam para jogos de
    cartas como Tarrochini. Outros usam para ocultismo e adivinhação. Outros
    usam para autorreflexão e autoconhecimento. Qualquer que seja o seu uso,
    espero que este baralho lhe sirva bem.
  </p>
</main>
