@import "../../../styles.scss";

.home {
  margin: 40px 290px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  p {
    font-size: 1.7rem;
    line-height: 2.2rem;
    text-align: justify;
    text-transform: uppercase;
  }
}

@media (max-width: 900px) {
  .home {
    margin: 0;
    padding: 30px 50px;

    p {
      line-height: 2.5rem;
    }
  }
}

@media (max-width: 500px) {
  .home {
    padding: 30px;
  }
}
