@import "./assets";
@import "./mixins";
@import "./reset";
@import "./variables";

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;600&display=swap");

/* width */
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  //   background: $background-grey;
  border-radius: $radius;
  border: 1px solid transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  //   background: $light-grey;
  border-radius: $radius;
  border: 1px solid transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  //   background: $simple-grey;
}

* {
  font-family: "Barlow Condensed";
}

:root {
  font-size: 18px;
}

@media (max-width: 1440px) {
  :root {
    font-size: 16px;
  }
}

@media (max-width: 1080px) {
  :root {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  :root {
    font-size: 13px;
  }
}
